<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alcatraz.admin.project_alcatraz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:theme">
        <activity
            android:name=".Home.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home.HomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Utility.Splash_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Profile.ShopProfile.ShopProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.EditProfile"
            android:screenOrientation="portrait" />
        <activity android:name=".Home.UserProfileNew" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Session.SessionUserActivity"
            android:label="@string/title_activity_session_user"
            android:theme="@style/SessionTheme" />
        <activity
            android:name=".Social.ChatActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>