<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.checkin.app.checkin">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity
            android:name=".Home.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Auth.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Auth.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Home.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            tools:replace="screenOrientation" />
        <activity android:name=".User.UserProfileActivity" />

        <activity
            android:name=".Menu.SessionUserActivity"
            android:label="@string/title_activity_session_user"
            android:screenOrientation="portrait"
            android:theme="@style/SessionTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Social.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.ShopProfile.ShopProfileActivity2"
            android:screenOrientation="portrait" />
        <activity android:name=".Misc.TransactionActivity" />
        <activity android:name=".Home.StoryActivity" />
        <activity android:name=".Auth.ForgotPassword" />
        <activity android:name=".Misc.FilterTransactions" />
        <activity android:name=".Misc.FaqActivity" />
        <activity
            android:name=".Session.ActiveSessionActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Profile.ShopProfile.ShopActivity" />
        <activity android:name=".User.UserShopProfileActivity"></activity>
        <activity
            android:name=".Notifications.NotificationActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.checkin.app.checkin.notifications" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Shop.BusinessFeaturesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name=".Shop.SignUpVerifyActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:parentActivityName=".Home.HomeActivity">
        </activity>

        <service android:name=".Auth.AuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".Data.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Utility.EditProfileImage"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>